<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BOBAXIXIXI</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        thead.brown {
            background-color: #62433d;
            text-decoration: none;
        }
    </style>
</head>
<body style="background-color:#feecd9">
<nav th:replace="fragments/fragment :: navbar('Search')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 style="color:#62433d; text-align: center">Find Available Boba Variant By Topping</h2>
                <br>
                <form th:action="@{/search}" method="GET">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            Boba Tea Name: <br>
                            <select class="form-control" name="bobaTeaName">
                                <option value="">-- Select Boba Tea Name --</option>
                                <option th:each="bobatea : ${listBobaTea}" th:value="${bobatea.bobaTeaName}" th:text="${bobatea.bobaTeaName}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            Topping Name: <br>
                            <select class="form-control" name="toppingName">
                                <option value="">-- Select Topping Name --</option>
                                <option th:each="topping : ${listTopping}" th:value="${topping.toppingName}" th:text="${topping.toppingName}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-12" style="text-align: center">
                            <button class="btn btn-primary text-white" type="submit">Search</button>
                        </div>
                    </div>
                </form>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <td>No</td>
                        <td>Price</td>
                        <td>Size</td>
                        <td>Ice</td>
                        <td>Sugar</td>
                        <td>Manager</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bobaTea, iterationStatus : ${bobaTea}">
                        <td th:text="${iterationStatus.count}"></td>
                        <div th:with="result=${bobaTea.bobaTea.bobaTeaPrice + bobaTea.bobaTea.topping.toppingPrice}">
                            <td th:text="'Rp' + ${result}"></td>
                        </div>
                        <td th:if="${bobaTea.bobaTea.bobaTeaSize} == 0">Small</td>
                        <td th:if="${bobaTea.bobaTea.bobaTeaSize} == 1">Medium</td>
                        <td th:if="${bobaTea.bobaTea.bobaTeaSize} == 2">Large</td>
                        <td th:if="${bobaTea.bobaTea.bobaTeaIceLevel} == 0">Less</td>
                        <td th:if="${bobaTea.bobaTea.bobaTeaIceLevel} == 1">Normal</td>
                        <td th:if="${bobaTea.bobaTea.bobaTeaIceLevel} == 2">Extra</td>
                        <td th:if="${bobaTea.bobaTea.bobaTeaSugarLevel} == 0">Less</td>
                        <td th:if="${bobaTea.bobaTea.bobaTeaSugarLevel} == 1">Normal</td>
                        <td th:if="${bobaTea.bobaTea.bobaTeaSugarLevel} == 2">Extra</td>
                        <td th:text="${bobaTea.store.manager.fullName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>